:root {
    --vp-c-brand-1: #b5dcf5;
    --vp-c-brand-2: rgb(181, 220, 245);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #b5dcf5 50%, #f8bcd6 50%);
    --vp-home-hero-image-filter: blur(80px);
  }